<!doctype html>
<html>
  <head>
    <title>Place search results</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <h2>Search results:</h2>
    <% @results.each do |row| %>
      <p>Recommendation by <%= row['first_name'] %> <%= row['last_name'] %>: <%= row['title']%> — <%= row['body']%></p>
    <% end %>
  </body>
</html>
