<!doctype html>
<html>
  <head>
    <title>Place search results</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <% @results.each do |row| %>
      <p><%= row['body']%></p>
    <% end %>
  </body>
</html>
