<!doctype html>
<html>
  <head>
    <title>Travel App - Sign In</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./styles.css">
  </head>
  <body>
    <div id="user-details-container">
      <form id="user-details" action="/sign-in" method="POST">
        <input type="text" class="user-detail-inputs" id="email" name="email" placeholder="Email" required>
        <input type="password" class="user-detail-inputs" id="password" name="password" placeholder="Password" required>
        <button type="submit" id="user-entry-submit">Submit</button>
      </form>
    </div>
  </body>
</html>
