html {
  background: url(./images/dave-hoefler-X6d8IKrUM0c-unsplash.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
