html {
    background: url(./images/james-donaldson-toPRrcyAIUY-unsplash_small.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#main-search {

}
